@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

* {
  margin: 0;
}

/* --------------------------------- Colors --------------------------------- */

.bg-nero {
  background-color: var(--nero);
  color: white;
}

.bg-bone {
  background-color: var(--bone);
}

.bg-dissipate {
  background-color: var(--dissipate);
  color: white;
}

.color-deepSkyBlue {
  color: var(--deep-sky-blue);
}

/* -------------------------------- Borders --------------------------------- */
.border-x {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.border-bottom-gray {
  border-bottom: 1px solid gray;
}

.rounded-xl {
  border-radius: 1em;
}

.underline {
  border-bottom: 2px solid gray;
  display: inline-block;
  line-height: 0.7;
}

/* --------------------------------- Header --------------------------------- */
.headerText {
  font-family: 'cmu_typewriter_italic';
  font-size: 64px;
  letter-spacing: 5px;
  cursor: default;
}

.headerFirstLetter::first-letter {
  font-family: 'Courgette';
}

article > h2 {
  font-weight: bold;
  font-size: 32px;
}

article > p {
  font-weight: bold;
}

/* --------------------------------- Intro ---------------------------------- */
.intro {
  /* border-top: 1px solid gray; */
  padding: 30px 0;
  line-height: 200%;
}

.paragraphFirstLetter::first-letter {
  font-size: 200%;
  font-family: 'Liberate Wide Normal';
}

/* --------------------------------- Navbar --------------------------------- */
.link {
  color: var(--deep-sky-blue);
  font-weight: bold;
  text-decoration: none;
  font-family: cmu_serif_italic_upright;
}

.link:hover {
  color: var(--highlight-color);
  text-decoration: none;
}

.nav-item {
  font-size: 32px;
  padding-right: 1.5em;
  line-height: 2em;
}

.active-link {
  color: var(--highlight-color);
  font-weight: bold;
  text-decoration: none;
  font-family: cmu_serif_italic_upright;
}

/* .no-wrap {
  white-space: nowrap;
  overflow: hidden;
} */

.tiny {
  font-size: 1rem;
}
