@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

* {
    padding: 0;
}

/**
 * Headers
 */
.headerText {
  margin: 0 0 50px 0;
  padding: 10px 5px 0 20px;
  border-radius: 60px;

  /* Font styles */
  font-family: 'cmu_typewriter_italic';
  font-size: 64px;
  letter-spacing: 5px;
  font-weight: 400; /* making the text lighter */

  transition: background-color 1s, box-shadow 1s;
}

.brand:first-letter {
  font-family: 'Courgette';
}

.headerText:hover {
  padding: 10px 5px 0 20px;
  box-shadow: 0 0 25px 50px #f0ad4e;
  background-color: #f0ad4e;
}


/**
 * Intro
 */
.intro {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 30px 0 30px 0;
  line-height: 200%;
}

.intro:first-letter {
  font-size: 200%;
  font-family: 'Liberate Wide Normal';
}


/**
 * Navbar
 */
.link {
  color: #6495ed;
  font-weight: bold;
  text-decoration: none;
  font-family: cmu_serif_italic_upright;
}

.link:hover {
  color: #f0ad4e;
  text-decoration: none;
}

.nav-item {
  font-size: 32px;
  padding-right: 1.5em;
}

.active-link {
  color: #f0ad4e;
  font-weight: bold;
  text-decoration: none;
  font-family: cmu_serif_italic_upright;
}


/**
 * Footer
 */
footer {
  padding: 30px;
  font-size: 16px;
  border-top: 1px solid gray;
}

